.section {
  text-align: center;
}

.section__paragraph {
  padding: 10px;
}

.section__title {
  margin-top: 40px;
}

.section__form {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.form__group {
  position: relative;
}

.form__input {
  display: block;
  min-height: auto;
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: transparent;
  padding: 0.32rem 0.75rem;
  line-height: 1.6;
  color: #e2e8f0;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.form__input [required]:valid {
  background: green;
}

.form__input [required]:invalid {
  background: red;
}

.form__input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: none;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  transform: translateY(-0.9rem) scale(1);
}

.form__error {
  position: absolute;
  left: 0.75rem;
  font-size: 0.75rem;
  color: #ff0000;
  transition: all 800ms ease;
  display: none;
}

.error {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

.form__label {
  position: absolute;
  color: #cbd5e1;
  z-index: -1;
  top: -0.5em;
  left: 0.75rem;
  margin-bottom: 0;
  transform: translateY(1rem) scale(0.9);
  transform-origin: 0 0;
  transition-duration: 300ms;
}

.form__button {
  background: transparent;
  display: inline-block;
  border-radius: 0.25rem;
  border: 2px solid #e2e8f0;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  color: #e2e8f0;
  opacity: 1;
  transition: 0.3s;
}

.form__button:hover {
  opacity: 0.6;
  background-color: #3e8e41;
}

.form__spinner {
  margin-top: 40px;
}

.form__response {
  margin-top: 40px;
  font-size: 1.5rem;
}

/* SPINNER */
.spinner {
  width: 5vw;
  height: 5vw;
  margin-left: auto;
  margin-right: auto;
  border: 0.5vw solid rgba(255, 255, 255, 0.7);
  border-top-color: #09f;
  border-radius: 50%;
  animation: spinner 1s ease-out infinite;
  /* animation: spinner 1s linear infinite; */
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .section__form {
    flex-direction: row;
    gap: 16px;
  }
}
